@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #030328;
    --foreground: #FFFFFF;
    
    --muted: #afafaf;

    --border-primary: #8529DE;
    --border-secondary: #FFFFFF;
    --border-tertiary: #9E84E3;

    --primary: #FFFFFF;
    --primary-foreground: #030328;

    --secondary: #8529DE;
    --secondary-foreground: #FFFFFF;

    --tertiary: #B535F6;
    --tertiary-foreground: #FFFFFF;

    --quaternary: #FF00E5;

    --quinary: #9482FF;

    --ring: #FFFFFF;
  }
}


@layer components {
  /* Buttons */
  .btn-primary {
    @apply z-0 border-2 border-border-secondary rounded-full tracking-widest bg-primary px-6 py-2 font-semibold text-primary-foreground duration-400 ease-in-out hover:bg-primary-foreground hover:text-primary hover:duration-400 hover:ease-in-out;
  }

  .btn-secondary {
    @apply z-0 rounded-full border-2 border-border-primary bg-btn-secondary-gradient bg-btn-secondary-size bg-btn-secondary-position px-6 py-2 font-bold text-secondary-foreground duration-400 ease-in-out hover:bg-btn-secondary-hover-position hover:duration-400 hover:ease-in-out;
  }

  .btn-tertiary {
    @apply flex justify-center items-center z-0 rounded-full bg-tertiary tracking-wide px-6 py-2 font-bold text-tertiary-foreground duration-400 ease-in-out hover:bg-primary hover:text-primary-foreground hover:duration-400 hover:ease-in-out;
  }

  /* Home brand cards */
  .brand-card-responsive {
     @apply relative h-[254px] w-[169px] cursor-pointer md:h-[344px] md:w-[229px] lg:h-[419px] lg:w-[279px] xl:h-[509px] xl:w-[339px];
  }

  .brand-card-no-responsive {
     @apply relative cursor-pointer h-[509px] w-[339px];
  }

  .accordion-content {
    @apply overflow-hidden;
  }

  .accordion-content[data-state='open'] {
    @apply animate-accordion-content-slide-down;
  }

  .accordion-content[data-state='closed'] {
    @apply animate-accordion-content-slide-up;
  }

  .bottom-mask-gradient {
    @apply absolute bottom-0 z-[1] h-1/2 w-full bg-mask-gradient left-0;
  }

  .plans-item-list-before {
    @apply before:inline-block before:aspect-square before:mx-2 before:rounded-full before:bg-secondary before:content-[''] before:w-[5px] before:h-[5px];
  }

  .plan-card-featured {
    @apply border-border-primary border-2;
  }

  .plan-card-featured:before {
    @apply content-['ECONOMIZE_5_MESES'] bg-plan-card-featured-before-gradient rounded-full absolute -top-5 px-4 py-1 tracking-widest left-0 right-0 flex justify-center items-center w-max mx-auto text-foreground font-semibold;
  }
}